################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CadastroCliente/.vs/CadastroCliente/v16/Server/sqlite3/db.lock
/DevLAN/.vs/DevLAN/v16/Server/sqlite3/db.lock
/DevLAN1/.vs/DevLAN1/v16/Server/sqlite3/db.lock
